body{
    background-image: url('src/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }


  /*---------base page styling------------*/
  .heading{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 5%;
      padding: 0px;
      color: white;
      align-items: center;
      background-color: #1a76ff65;
      border-radius: 4px;
      justify-content: center;
      line-height: 4%;
      margin-bottom: 3px;
      transition: 0.5s ease;
  }
  .heading:hover{
      background-color: #ffffffbb;
      color: #1a76ff;
  }
  .logo-png{
      width: 30px;
      height: 30px;
      background-attachment: fixed;
  }
  .head1{
      margin-left: 1%;
  }
  .main{
      display: flex;
      flex-direction: row;
  }
  .board{
    background-color: rgba(0, 0, 0, 0.472);
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    margin-right: 1rem;
    width: 25%;
    max-height: 80px;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  .board-icons{
      display: flex;
      flex-direction: row;
      height: 40px;
  }
  .board-input{
      align-items: flex-start,center;
      width: 98%;
      padding: 10px 5px;
      height: 50px;
      margin-left: 1%;
      margin-top: 1%;
      border-radius: 0.3rem;
      color: gray;
      background-color: rgba(240, 255, 240, 0.705);
      font-size: medium;
      border: none;
      transition: 0.25s ease;
  }
  .board-input:focus{
        background-color: white;
  }
  .board-input:hover{
    background-color: white;
}
  .board-button{
      width: 20%;
      padding: 2px;
      margin-left: 1%;
      margin-top: 1%;
      background-color: #1a75ff;
      cursor: pointer;
      transition: 0.25s ease;
      border-radius: 5px;
      color: white;
      font-size: medium;
      height: 2em;
      box-shadow: none;
      border: none;
  }
  .board-button:hover{
      background-color: white;
      color:#1a75ff;
      border: solid;
      border-width: 1px;
  }
  .board-close{
      color: white;
      font-size: 30px;
      padding: 1px;
      margin-bottom: 1%;
      float: right;
      margin-right: 2%;
      margin-top: -5px;
      transition: 0.5s ease;
      visibility: hidden;
  }
  .board-close:hover{
      color: #ff3300;
      cursor: pointer;
  }

  /*---------base page styling------------*/

  /*---------board styling-----------------*/

  .boardstyle{
    background-color: rgba(0, 0, 0, 0.472);
    border-radius: 0.3rem;
    margin-right: 1rem;
    width: 25%;
    min-height: 80px;
    height: 25%;
    margin-bottom: 2%;
    transition: 0.25s ease;
    cursor: grab;
  }
  .boardstyle:hover{
      background-color: rgba(41, 39, 39, 0.637);
  }
  .board-name{
      font-size: medium;
      color: white;
      margin: 4px 4px;
      height: 3px;
      border-radius: 4px;
  }
  .cardstyle{
    display: inline-flex;
    background-color: #1177ec78;
    min-height: 2rem;
    align-items: center;
    height: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 15%;
    margin-bottom: 1%;
    width: 98%;
    font-size: medium;
    vertical-align: middle;
    border-radius: 3px;
    font-weight: normal;
    cursor: pointer;
    color: white;
    transition: 0.5s ease;
  }
  .cardstyle:hover{
      background-color: rgba(255, 255, 255, 0.664);
      color: #1a75ff;
  }
  .card-box{
    width: 95%;
    padding: 10px 5px;
    min-height: 2rem;
    height: 10px;
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: 2%;
    border-radius: 0.3rem;
    color: gray;
    background-color: rgb(255, 255, 255);
    font-size: medium;
    transition: 0.25s ease;
    border-color: #1a75ff;
}
.card-box:focus{
      background-color: white;   
  }

  .card-button{
    width: 20%;
    padding: 2px;
    margin-left: 1%;
    margin-bottom: 1%;
    background-color: #1a75ff;
    cursor: pointer;
    transition: 0.25s ease;
    border-radius: 5px;
    color: white;
    font-size: medium;
    height: 2em;
    box-shadow: none;
    border: none;
}
.card-button:hover{
    background-color: white;
    color:#1a75ff;
    border: solid;
    border-width: 1px;
  }
  .card-close{
    color: white;
    font-size: 30px;
    padding: 1px;
    margin-bottom: 1%;
    float: right;
    margin-right: 2%;
    margin-top: -5px;
    transition: 0.5s ease;
    cursor: pointer;
}
.card-close:hover{
    color: #ff3300;
}
  .liststyle{
    display: inline-flex;
    background-color: #eaeae1;
    min-height: 2rem;
    align-items: center;
    height: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 95%;
    font-size: medium;
    border-radius: 3px;
    font-weight: normal;
  }
  .liststyle:hover{
    background-color:#c5c5c1;
    cursor: grab;
  }
.close-style{
      color: rgb(0, 0, 0);
      font-size: 25px;
      padding: 2px;
      margin-left: auto;
      margin-right: 1%;
      vertical-align: middle;
      transition: 0.25s ease;
  }
  .close-style:hover{
      color: #ff3300;
      cursor: pointer;
  }
  .edit-icon{
      color:#1a75ff;
      vertical-align: middle;
      cursor: pointer;
      padding: 0px;
      margin-right: 1%;
  }
  .edit-icon:hover{
      color:#13b329;
  }
  .close{
      color: rgb(0, 0, 0);
      font-size: 25px;
      padding: 2px;
      float: right;
      margin-bottom: 0px;
      vertical-align: middle;
      transition: 0.25s ease;
  }
  .close:hover{
      color: #ff3300;
      cursor: pointer;
  }
  @media only screen and (max-width:700px) { 
    .card-button,.board-button,.liststyle{
      width: 60%;
    }
    @media only screen and (max-width:500px) {
        .board-close{
            margin-left: 2%;
        }
        .liststyle{
            width: 95%;
        }
    }
  }